{% extends 'mdb_base.html' %}
{% block content %}
  <!--Main layout-->
  <main>
    
    <br></br>
    <h2>Second Option</h2>
      <div class="btn-group" role="group" aria-label="Vertical button group">
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-exchange-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-folder"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-shield-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-arrow-right"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-shield-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-calendar-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-microphone-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-volume-mute"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-image"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-sliders-h"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-compress"></span></button>
          
        </div>
      </div>
            
            
           
            
            
        </div>
        <br></br>
        <h2>Third option</h2>
        <div class ="btn-group">
          <div class="btn-group-vertical default-color" role="group" aria-label="Vertical button group">
              <button type="button" class="btn btn-blue"><span class="fas fa-exchange-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-folder"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-shield-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-arrow-right"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-shield-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-calendar-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-microphone-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-volume-mute"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-image"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-sliders-h"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-compress"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-percentage"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-divide"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-calculator"></span></button>
              <button type="button" class="btn btn-blue"><span class="fab fa-wordpress"></span></button>
            
          </div>
          </div>
  </main>
  <header>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg btn-blue">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light">
                  <i class="fas fa-print"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light">
                  <i class="fab fa-safari"></i>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="far fa-image"></i>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fas fa-envelope-open-text"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link waves-effect waves-light">
                          <i class="fas fa-align-justify"></i>
                      </a>
                    </li><li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fas fa-text-height"></i>
                        </a>
                      </li><li class="nav-item">
                          <a class="nav-link waves-effect waves-light">
                              <i class="fas fa-text-width"></i>
                          </a>
                        </li>
          </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-3"></div>
        </div>
      </nav>
    
<!--/.Navbar -->
  </header>
  
  
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main>
    
    <br></br>
    <h2>Second Option</h2>
      <div class="btn-group" role="group" aria-label="Vertical button group">
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-exchange-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-folder"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-shield-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-arrow-right"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-shield-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-calendar-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-microphone-alt"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-volume-mute"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-image"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-sliders-h"></span></button>
          <button type="button" class="btn btn-blue  btn-lg btn-md btn-sm "><span class="fas fa-compress"></span></button>
          
        </div>
      </div>
            
            
           
            
            
        </div>
        <br></br>
        <h2>Third option</h2>
        <div class ="btn-group">
          <div class="btn-group-vertical default-color" role="group" aria-label="Vertical button group">
              <button type="button" class="btn btn-blue"><span class="fas fa-exchange-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-folder"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-shield-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-arrow-right"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-shield-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-calendar-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-microphone-alt"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-volume-mute"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-image"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-sliders-h"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-compress"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-percentage"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-divide"></span></button>
              <button type="button" class="btn btn-blue"><span class="fas fa-calculator"></span></button>
              <button type="button" class="btn btn-blue"><span class="fab fa-wordpress"></span></button>
            
          </div>
          </div>
  </main>
  {% endblock %}