{% extends 'shop/base.html' %}
{% load static %}
{% block title %} HOMEPAGE {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 d-flex text-center">
<ul style="list-style:none;">
            <li>"id": 1041</li>
            <li>"category_id": 3</li>
            <li>"images_id": 1</li>
            <li>"sku": "3DDIE-DRAGON-1"</li>
            <li>"title": "Leather Die - 3D - (Dragon) | KnifeKits.com"</li>
            <li>"name": "Leather Die - 3D - (Dragon)"</li>
            <li>"slug": null</li>
            <li>"description": "['', 'This is a 3D Dragon die, used for embossing leather projects. This tool is high quality and will last for many years.', '', 'To use, snap the 3D die on the available stamp handle and hammer the end to create the embossed design.', '', '', 'Specifications', 'Sold Individually', 'Design - Dragon', 'Dimensions - 1\"x1\"', '', '', 'Note', ':', 'Stamp Handle and dies shown in sample images below are for examples only. Stamp handle is sold separately.']"</li>
            <li>"all_images": "['stamping_die_dragon_1_600.jpg', 'stamphandle_2_600.jpg', 'stamphandle_3_600.jpg']"</li>
            <li>"cannonical_url": "https://www.knifekits.com/vcom/leather-die-dragon-p-2151.html"</li>
            <li>"video_url": "https://www.knifekits.com/vcom/leather-die-dragon-p-2151.html"</li>
            <li>"price": "4.99"</li>
            <li>"keywords": "leather stamp die, leather tooling die, leather, sheath, setter, punch, dragon"</li>
            <li>"link": "https://www.knifekits.com/vcom/leather-die-dragon-p-2151.html"</li>
            <li>"discount_tiers": ""</li>
            <li>"discount_amount": ""</li>
            <li>"available": true</li>
            <li>"created": "2021-02-05T03:52:33.946158Z"</li>
            <li>"updated": "2021-02-05T04:38:47.443545Z</li>
          </ul>
    
    </div>
  </div>
</div>
{% endblock %}